{% for vrf in vrfs %}
{% for vlan in vrf.vlans %}
{% set l2_vni = vlan.vlan|int + 110000 %}
router bgp {{ asn }}
   vlan {{ vlan.vlan }}
      rd {{ asn }}:{{ l2_vni }}
      route-target both {{ vlan.vlan }}:{{ l2_vni }}
      redistribute learned