{% for vrf in vrfs %}
router bgp {{ asn }}
   vrf {{ vrf.name }}
      rd {{ vrf.rd }}
      {% for rt in vrf.import_rt %}
      route-target import evpn {{ rt }}
      {% endfor %}
      {% for rt in vrf.export_rt %}
      route-target export evpn {{ rt }}
      {% endfor %}
      redistribute connected
{% endfor %}