{% for vrf in vrfs %}
vrf instance {{ vrf.name }}
ip routing vrf {{ vrf.name }}

router bgp {{ asn }}
   vrf {{ vrf.name }}
      rd {{ vrf.rd }}
      route-target import evpn {{ vrf.import_rt}}
      route-target export evpn {{ vrf.export_rt}}
      redistribute connected

interface Vxlan1
   vxlan vrf {{ vrf.name }} vni {{ vrf.l3vni }}
!
{% endfor %}

{# 
{% for vlan in vlans %}
{% set l2_vni = id|int + 110000 %}

vlan {{ id }}
   name {{ name }}

interface vlan {{ vlan_id }}
   vrf {{ vrf_name }}
   ip address virtual {{ gw_ip }}/{{ mask }}

interface Vxlan1
   vxlan vlan {{ vlan_id }} vni {{ l2_vni }}

router bgp {{ asn }}
   vlan {{ vlan_id }}
      rd {{ asn }}:{{ l2_vni }}
      route-target both {{ vlan_id }}:{{ l2_vni }}
      redistribute learned
{% endfor %}
#}